<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Buy books from Science center</title>
</head>
<body>
<form method="post" th:object="${allItems}">
    Available items:<br><br>
    <table>
        <thead>
        <tr>
            <th> Name</th>
            <th> Price</th>
            <th> Buy</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${allItems.empty}">
            <td colspan="2"> No Books Available</td>
        </tr>
        <tr th:each="i, itemStat : ${allItems}">
            <td><span th:text="${i.name}"> Name </span></td>
            <td><span th:text="${i.price}"> Price </span></td>
            <td>
                <button type="submit" th:action="@{/api/buy/{__${i.id}__}">Buy</button>
            </td>
        </tr>
        </tbody>
    </table>
    <br><br>
</form>
</body>
</html>